.projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-content: start;
    width: 1440px;
    padding-bottom: 40px;
}

.selectProjeto{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to left, #78b4dc, #78b4dc, #9fbee0);
  box-shadow: 2px 2px 4px var(--cor-sombra);
}

.selectProjeto1{
  background-image: linear-gradient(to bottom, #dd5b16, #e77439, #f18c57, #f9a376, #ffba96);
}

.selectProjeto2{
  background-image: linear-gradient(to bottom, #cbbe35, #9fbb48, #79b45e, #59aa71, #439e7f);
}

.selectProjeto3{
  background-image: linear-gradient(to bottom, #e3251d, #b9231f, #8f211e, #671d1b, #401816);
}

.projetoAtivo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0px;
  height: 100%;
  opacity: 0;
  transition: width 1.5s ease, opacity 0.8s ease;
}
.projetoAtivo.select{
  width: calc(100% - 200px);
  opacity: 1;
}

.h1NumeroProjeto{
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 20px;
}

.h1NomeProjeto{
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  letter-spacing: 5px;
}

.tituloProjeto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 100px;
}

.lineBoxProjetos{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;

}

.boxUnicoProjeto{
  width: 30%;
  margin: 20px;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}
  
.bolinha, .bolinhaAtiva {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--cor-sombra);
  cursor: pointer;
}

.bolinhaAtiva {
  background-color: var(--cor-azul)
}

  
@media (max-width: 1440px){
  .boxUnicoProjeto{
    margin: 10px 0;
  }
  .container{
    width: 100%;
    padding: 0 5%;
    padding-bottom: 20px;
  }
}

@media (max-width: 999px){
  .container{
    padding-bottom: 0px;
}
  .boxUnicoProjeto{
    width: 100%;
    margin: 30px 0;
  }
  .lineBoxProjetos{
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
  }
  .selectProjeto{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to left, #328cd2, #328cd2, #4396d8, #4396d8, #4396d8);
  }
  
  .h1NumeroProjeto{
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 0px;
  }
  
  .h1NomeProjeto{
    writing-mode: horizontal-tb;
    padding-top: 0px;
    transform: rotate(0deg);
    letter-spacing: 2px;
  }
  .projetoAtivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: height 1s ease, opacity 0.8s ease;
  }
  .projetoAtivo.select{
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .tituloProjeto{
    padding-bottom: 50px;
  }
}

